html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 90%;
    color: #cccccc;
    background-color: rgb(80,80,80);
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

.page_layout {
    height: 100%;
    overflow: hidden;
}

.library_layout {
    height: 100%;
    overflow: hidden;
}

.library_col, .artists_col, .music_set_col {
    display: inline-block;
    background-color: rgb(35,35,35);
}

.artists_col {
    width: 220px;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.artists_list {
    margin-top: 80px;
    padding-top: 5px;
    height: calc(100% - 85px);
    overflow: visible;
}

.music_set_col {
    width: 350px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slots_list {
    padding-top: 90px;
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;
}

.albums_list {
    height: auto;
    overflow: visible;
    position: relative;
}

.album_viewer {
    width: 100%;
}

.album_artwork_col {
    float: left;
    width: 180px;
    min-height: 180px;
    max-height: 180px;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.album_artwork {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(80,80,80);
}

.album_musics {
    margin-bottom: 10px;
    padding-left: 200px;
    width: calc(100% - 200px);
    height: auto;
}

.album_title {
    font-size: 120%;
    width: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin: 0 0 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px dotted rgb(80,80,80);
}

.library_artist {
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.library_artist_name {
    font-size: 140%;
    width: calc(100% - 5px);
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin: 0 0 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 2px dotted rgb(80,80,80);
}

.library_col {
    padding-top: 85px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 2px;
}

.dragged_music{
    background: rgba(35, 35, 35, 0.90);
    height: 70px;
    width: 250px;
    overflow: hidden;
    -moz-box-shadow: 0px 0px 40px 2px #000000;
    -webkit-box-shadow: 0px 0px 40px 2px #000000;
    -o-box-shadow: 0px 0px 40px 2px #000000;
    box-shadow: 0px 0px 40px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=40);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 500;
}

.dragged_music > .music_artwork {
    float: left;
    width: 70px;
    border-right: 1px solid rgb(80,80,80);
}

.dragged_music > .music_infos {
    padding: 7px 10px 10px 75px;
    width: calc(100% - 73px);
}

.dragged_music > .music_infos > .music_title {
    font-weight: bold;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dragged_music > .music_infos > .music_artist {
    font-style: italic;
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dragged_music > .music_infos > .music_album {
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dragged_music > .music_infos > .music_album::before {
    content: '(';
}

.dragged_music > .music_infos > .music_album::after {
    content: ')';
}

.dragged_music .hide_in_drag{
    display: none;
}

.artist{
    background: rgb(35, 35, 35);
    height: 70px;
    width: calc(100% - 10px);
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 0px 5px 5px;
    position: relative;
    border: 1px solid rgb(80,80,80);
    display: block;
    text-decoration: none;
    color: rgb(200,200,200);
}

.artist > .artist_artwork {
    float: left;
    width: 70px;
    border-right: 1px solid rgb(80,80,80);
}

.artist > .artist_infos {
    padding: 7px 0px 10px 75px;
    width: calc(100% - 75px);
}

.artist > .artist_infos > .artist_name {
    font-size: 120%;
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist > .artist_infos > .artist_numbers {
    font-style: italic;
    color: rgb(100,100,100);
    padding-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist:active{
    color: rgb(35, 35, 35);
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 10px 2px #000000;
}

.artist_selected:active > .artist_infos > .artist_name {
    color: rgb(35, 35, 35);
}

.artist_selected > .artist_infos > .artist_numbers {
    color: rgb(80, 80, 80);
}

.library_music {
    border: 1px solid rgb(80,80,80);
    width: calc(50% - 15px);
    height: 20px;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    position: relative;
}

.library_music .hide_in_lib{
    display: none;
}

.library_music > .music_infos{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 3px;
}

.library_music > .music_infos > .music_number{
    width: 15px;
    color: rgb(100,100,100);
    float: left;
    text-align: center;
    padding-right: 4px;
}

.library_music > .music_infos > .music_title{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 54px);
}

.library_music > .music_infos > .music_length{
    text-align: right;
    color: rgb(100,100,100);
    float: right;
    width: 37px;
}

.slot_pair{
    background: rgb(35, 35, 35);
    height: 70px;
    width: calc(100% - 10px);
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0px 5px 5px 5px;
    position: relative;
    border: 1px solid rgb(80,80,80);
    text-align: center;
}

.slot_pair > .slot_artwork{
    width: 70px;
    position: absolute;
    left: calc(50% - 35px);
}

.slot_pair .music_slot_nb{
    border-bottom: 1px solid rgb(80,80,80);
}

.slot_pair .music_slot{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slot_pair .music_empty{
    background: rgba(255, 0, 0, 0.2);
}

.slot_pair .music_modified{
    background: rgba(0, 0, 255, 0.15);
}

.slot_pair .music_title {
    font-weight: bold;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slot_pair .music_artist {
    font-style: italic;
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slot_pair .hide_in_slot{
    display: none;
}

.slot_pair > .slot_left{
    float: left;
    width: calc(50% - 36px);
    height: 100%;
    border-right: 1px solid rgb(80,80,80);
}

.slot_pair > .slot_right{
    float: right;
    width: calc(50% - 36px);
    height: 100%;
    border-left: 1px solid rgb(80,80,80);
}

.music_highlight {
    color: rgb(35, 35, 35);
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 10px 2px #000000;
}

.music_selected {
    -moz-box-shadow: inset 0px 0px 7px 0px #ffffff;
    -webkit-box-shadow: inset 0px 0px 7px 0px #ffffff;
    -o-box-shadow: inset 0px 0px 7px 0px #ffffff;
    box-shadow: inset 0px 0px 7px 0px #ffffff;
}

.navigation {
    position: absolute;
    top: 0;
    width: 100%;
    color: rgb(200,200,200);
    height: 75px;
    padding-top: 5px;
    padding-left: 5px;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: rgba(1, 1, 1, 0.8);
    color: rgba(1, 1, 1, 0.8);
    overflow: visible;
    z-index: 100;
    font-size: 0;
}

.navigation .nav_link {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    color: rgb(200,200,200);
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
}

.navigation .nav_link:hover {
    background: none;
    box-shadow: inset 0 0 5px rgba(255,255,255, 0.4), rgba(0,0,0,0.1) 0 1px 0;
    border-radius: 4px;
    border: 1px solid rgb(80,80,80);
    color: rgb(200,200,200);
}

.navigation .nav_link:active {
    color: black;
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 10px 2px #000000;
}

.navigation .btn {
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    color: rgb(200,200,200);
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
}

.navigation .btn:hover {
    background: none;
    box-shadow: inset 0 0 5px rgba(255,255,255, 0.4), rgba(0,0,0,0.1) 0 1px 0;
    border-radius: 4px;
    border: 1px solid rgb(80,80,80);
    color: rgb(200,200,200);
}

.navigation .btn:active {
    color: black;
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 5px 2px #000000;
}

.navigation .btn_input {
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    color: rgb(200,200,200);
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
}

.navigation .btn_input:hover {
    background: none;
    box-shadow: inset 0 0 5px rgba(255,255,255, 0.4), rgba(0,0,0,0.1) 0 1px 0;
    border-radius: 4px;
    border: 1px solid rgb(80,80,80);
    color: rgb(200,200,200);
}

.navigation .btn_input:active {
    color: black;
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 5px 2px #000000;
}

.navigation .searchform {
    font-size: 14px;
    width: 300px;
    margin-top: 4px;
    padding: 0;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    background: none;
    box-shadow: inset 0 0 5px rgba(255,255,255, 0.4), rgba(0,0,0,0.1) 0 1px 0;
    border: 1px solid rgb(80,80,80);
    color: rgb(200,200,200);
    text-shadow: rgba(0, 0, 0, 0.796875) 0px -1px 0px, rgba(255, 255, 255, 0.296875) 0px 0px 10px;
}

.navigation .searchform input {
    text-decoration: none;
    padding: 5px 10px;
    margin: 0;
    background-color: transparent;
    border-style: none;
    color: rgb(200,200,200);
    line-height: 1.1;
    width: 85%;
    box-shadow: none;
    vertical-align: baseline;
    outline: none;
}

.navigation .searchform .icon-search {
    position: absolute;
    right: 3px;
    width: 30px;
    text-align: left;
    top: 3px;
    bottom: 3px;
    border-width: 0;
    border-left: 1px solid rgb(80, 80, 80);
    background-color: transparent;
    padding: 0 0 0 7px;
    opacity: 1;
    color: rgb(200,200,200);
    outline: none;
}

.navigation .searchform .icon-search::before {
    color: rgb(100,100,100);
    font-family: FontAwesome;
    font-size: 120%;
    content: "\f002";
}

.navigation .searchform_enabled {
    color: black;
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 10px 2px #000000;
}

.navigation .searchform_enabled input {
    color: black;
}

.navigation .searchform_enabled input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(35,35,35);
}
.navigation .searchform_enabled input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(35,35,35);
    opacity: 1;
}
.navigation .searchform_enabled input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(35,35,35);
}

.navigation .searchform_enabled .icon-search {
    color: rgb(35,35,35);
}

.navigation .searchform_enabled .icon-search::before {
    color: rgb(35,35,35);
    font-family: FontAwesome;
    font-size: 120%;
    content: "\f002";
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#lib_nav_container {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
}

#slotsnav_container {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
}

.styled-select .set_select {
    color: rgb(200,200,200);
    background: transparent;
    width: 100%;
    height: 30px;
    padding: 0 0 0 5px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}

.styled-select .set_input {
    width: calc(100% - 60px);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .set_select {padding-right:18px}
}

.styled-select .set_select::-ms-expand {
    display: none;
}

.styled-select .set_select::-ms-value {
    background: none;
}

.styled-select {
    margin-top: 3px;
    width: calc(100% - 105px);
    position:relative;
    border: 1px solid rgb(80,80,80);
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(255,255,255, 0.4), rgba(0,0,0,0.1) 0 1px 0;
    display: inline-block;
    font-size: 12px;
}

.styled-select:after {
    color: rgb(100,100,100);
    font-family: FontAwesome;
    font-size: 120%;
    content: attr(select_button);
    right:6px; top:8px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

.styled-select_active {
    color: rgb(35, 35, 35);
    background: rgba(200, 200, 200, 0.6);
    -moz-box-shadow: inset 0px 0px 10px 2px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 2px #000000;
    -o-box-shadow: inset 0px 0px 10px 2px #000000;
    box-shadow: inset 0px 0px 10px 2px #000000;
}

.styled-select_active .set_select {
    color: rgb(35,35,35);
}

.styled-select_active .set_select::-ms-value {
    color: rgb(35,35,35);
    background: none;
}

.styled-select_active:after {
    color: rgb(35,35,35);
    font-family: FontAwesome;
    font-size: 120%;
    content: attr(select_button);
    right:6px; top:8px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

#search_string {
    color: rgb(200,200,200);
    display: inline-block;
    font-size: 14px;
}

#edit_music_dialog .edit_header {
    position: relative;
    height: 80px;
}

.edit_header .music_artwork {
    float: left;
    margin-right: 5px;
}

.edit_header .music_artwork_img {
    border: 1px solid rgb(80,80,80);
    border-radius: 5px;
}

.edit_header .music_title {
    font-weight: bold;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit_header .music_artist {
    font-style: italic;
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit_header .music_album {
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.edit_header .music_album::before {
    content: '(';
}

.edit_header .music_album::after {
    content: ')';
}

#edit_music_dialog .edit_music_fieldset {
    border: 1px solid rgb(80,80,80);
}

#edit_music_dialog p {
    display: table;
    width: 100%;
}

#edit_music_dialog label{
    text-align: right;
    width: 60px;
    display: table-cell;
    padding: 0 5px 0 0;
    color: rgb(100,100,100);
    font-size: 90%;
    vertical-align: middle;
}

#edit_music_dialog input{
    display: table-cell;
    height: 1.3em;
    padding: 3px 3px 3px 5px;
    width: calc(100% - 5px);
    margin-bottom: 3px;
}

::-webkit-scrollbar {									/* Scrollbars */
	width: .875em;
	height: .875em;
	background: transparent;
}
::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid .25em transparent;
	border-right-width: .5em;
	margin: .25em;
    margin-top: 85px;
}
::-webkit-scrollbar-track-piece:horizontal {			/* Fond pour la barre du bas */
	border-right-width: .25em;
	border-bottom-width: .5em;
}
::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: .25em;
	-webkit-border-radius: .3125em;
	-webkit-border-top-right-radius: .5625em .3125em;
	-webkit-border-bottom-right-radius: .5625em .3125em;
	-webkit-box-shadow: inset 0 0 0 .0625em rgba(40,40,40,0.7), inset 0 0 0 .375em rgba(80,80,80,0.7);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 .0625em rgba(90,90,90,0.9), inset 0 0 0 .375em rgba(110,110,110,0.9);
}
::-webkit-scrollbar-thumb:horizontal {					/* Barre du bas */
	border-right-width: 0;
	border-bottom-width: .25em;
	-webkit-border-top-right-radius: .3125em;
	-webkit-border-bottom-right-radius: .3125em .5625em;
	-webkit-border-bottom-left-radius: .3125em .5625em;
}
