<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Playlist Manager</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.contextMenu.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/jukebox/playlist_manager.css" %}">

    <script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery-ui.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jlayout/jquery.sizes.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jlayout/jlayout.border.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jlayout/jlayout.grid.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jlayout/jlayout.flexgrid.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jlayout/jlayout.flow.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jlayout/jquery.jlayout.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.ui.position.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.contextMenu.js" %}'></script>

    <script type="text/javascript" src='{% static "js/jukebox/playlist_manager_widgets.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jukebox/playlist_manager.js" %}'></script>

</head>
<body>

<div data-layout='{"type": "border", "hgap": 3, "vgap": 3}' class="page_layout">

    <div data-layout='{"type": "border", "hgap": 3, "vgap": 3}' class="library_layout center">

        <div class="navigation">
            <img src="{% static "jukebox.png" %}" height="70" width="70" style="opacity: 0.8">
            <div id="lib_nav_container">
                <a class="nav_link" href="#">Playlist Manager</a>
                <a class="nav_link" href="#">Upload Manager</a>
                <br>
                <div class="searchform">
                    <button class="icon-search"></button>
                    <label id="search_label">
                        <input id="search_input" type="text" name="s" value="" placeholder="Search" autocomplete="off">
                    </label>
                </div>
                <div id="search_string"> Search : <span></span></div>
            </div>
        </div>

        <div class="artists_col west"></div>

        <div class="center library_col"></div>

    </div>

    <div class="east music_set_col">

        <div class="navigation">
            <div id="slots_nav_container">
                <a class="nav_link">Playlist Manager</a>
                <div class="styled-select">
                    <select class="set_select" id="set_select">
                        <option>1</option>
                        <option selected="selected">2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
                <a href="#" class="btn_input" id="btn_edit" title="Edit current Music Set">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a href="#" class="btn" id="btn_add" title="Add new Music Set">
                    <i class="fa fa-plus-square-o"></i>
                </a>
                <a href="#" class="btn" id="btn_save" title="Save edited Music Set">
                    <i class="fa fa-floppy-o"></i>
                </a>
                <a href="#" class="btn" id="btn_playlist_editor" title="Go to the Edit Playlist page">
                    <i class="fa fa-table"></i>
                </a>
            </div>
        </div>

        <div class="slots_list">

            <div id="selected_set"> Music Set Selected : <a>2</a></div>

        </div>

    </div>

</div>

<div id="edit_music_dialog" title="Edit Music">
  <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

</body>
</html>
