<div data-layout='{"type": "border"}' class="album_viewer">
    <div class="north album_title">
        Loooooooooooong Album Title by Loooooooooooong Artist
    </div>
    <div class="west album_artwork_col">
        <img class="album_artwork" src="/media/Library/Im_Shipping_Up_to_Boston.jpg" alt="Album Artwork" height="170" width="170">
    </div>
    <div data-layout='{"type": "grid", "hgap": 3, "vgap": 3, "fill":"vertical"}' class="center album_musics">
        <div class="library_music music1"></div>
        <div class="library_music music2"></div>
        <div class="library_music music3"></div>
        <div class="library_music music2"></div>
        <div class="library_music music3"></div>
        <div class="library_music music2"></div>
        <div class="library_music music3"></div>
    </div>
</div>